header{
    position: fixed;
    width: 100%;
    z-index: 100;
}
.authlogo{
    width: 180px;
    height: 100px;
}
.authmenu li{
    display: inline-block;
    color: #fff;
    padding: 7px;
    cursor: pointer;
}
.authaction{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.authfirst{
    display: flex;
    justify-content: start;
    width: 80%;
}
.authsecond{
    display: flex;
  
    color:#fff;
    justify-content: space-evenly;
}
.myselect{
    cursor: pointer;
}